.player, .screen, .bottom-controls {
  display: flex;
}

.player {
  background-color: black;
  height: 400px;
  width: 600px;
  box-shadow: 12px 12px 6px 1px rgba(0, 0, 0, .2);
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.screen {
  flex: 1;
  overflow: auto;
}

.action-button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 1rem;
  margin-right: 6px;
}

.space-between-buttons {
  flex: 1;
}
