.display-flex {
  display: flex;
}

.flexible-length {
  flex: 1;
}

.auto-overflow {
  overflow: auto;
}

.player {
  background-color: black;
  height: 600px;
  width: 800px;
  box-shadow: 12px 12px 6px 1px rgba(0, 0, 0, .2);
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.player .bottom-controls {
  margin-bottom: 8px;
  margin-left: 2px;
  margin-right: 1px;
}

.player .bottom-controls .action-button {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 1.25rem;
  margin-right: 3px;
}

.player .bottom-controls .left-buttons .fa-volume-off {
  margin-left: -10px;
}
