.display-flex {
  display: flex;
}

.flexible-length {
  flex: 1;
}

.auto-overflow {
  overflow: auto;
}

.white-text {
  color: white;
}

.red {
  background-color: red;
}

.player {
  background-color: black;
  height: 600px;
  width: 800px;
  box-shadow: 12px 12px 6px 1px rgba(0, 0, 0, .2);
  justify-content: flex-end;
  flex-flow: column nowrap;
  margin: 8px;
}

.player .bottom-controls {
  margin-bottom: 8px;
  margin-left: 2px;
  margin-right: 1px;
}

.player .bottom-controls .action-button {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.25rem;
  margin-right: 3px;
}

.player .bottom-controls .left-buttons .fa-volume-off {
  margin-left: -10px;
}

.player .bottom-controls .time {
  font-family: 'Roboto', sans-serif;
  margin-top: 6px;
}

.player .bottom-controls .current-time {
  margin-left: 1px;
}

.player .bottom-controls .progress-elm {
  height: 5px;
  border-radius: 5px;
}

.player .bottom-controls .progress-bar {
  background-color: grey;
  margin: 12px 10px;
}

.player .bottom-controls .progress-bar .dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: flex;
  border: solid white 3px;
  margin: -4px 4px 0 0;
  opacity: 0%;
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.player .bottom-controls .progress-bar:hover .dot {
  opacity: 100%;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.player .bottom-controls .duration-time {
  margin-right: 5px;
}
